.table {
  background-color: #e2e2e2;
  padding: 5px;
  padding-bottom: 8px;
  width: 100%;

  &__header,
  &__body {
    display: block;
  }

  &__body {
    &::-webkit-scrollbar {
      width: 0.5rem;
      background-color: #b9b9b9;
    }
     
    &::-webkit-scrollbar-track {
      box-shadow: none
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: #464646;
      border-radius: 4px;
    }

    scrollbar-base-color: transparent;
    scrollbar-face-color: #464646;
    scrollbar-3dlight-color: transparent;
    scrollbar-highlight-color: transparent;
    scrollbar-track-color: #b9b9b9;
    scrollbar-arrow-color: #b9b9b9;
    scrollbar-shadow-color: transparent;
    scrollbar-dark-shadow-color: transparent;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 850px) {
      flex-wrap: wrap;
    }

    &_hidden {
      display: none;
    }
  }

  &__header &__row {
    background-color: #c6c6c6;
    padding: 13px 28px 13px 8px;
  }

  &__header {
    margin-bottom: 17px;
  }

  &__body &__row {
    padding: 10px 28px 10px 8px;
    background-color: #d3d3d3;
    margin-bottom: 4px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  &__filter-arrow {
    margin-bottom: 4px;
    margin-left: 12px;
    pointer-events: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__rating {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  &_players {
    position: relative;
    height: 533px;
  }

  &_players &__body {
    max-height: 458px;
    overflow: auto;

    @media screen and (max-width: 850px) {
      max-height: 420px;
    }
  }

  &_players &__body &__row {
    cursor: pointer;   
  }

  &_players &__body &__col {
    pointer-events: none;
  }

  &_players &__header &__col {
    display: flex;
    align-items: center;
  }

  &_players &__col {
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    &:nth-child(1) {
      padding-left: 11px;
      max-width: 60px;
      min-width: 60px;
    }

    &:nth-child(2) {
      max-width: 200px;
      min-width: 200px;
    }

    &:nth-child(3) {
      max-width: 140px;
      min-width: 140px;
    }

    &:nth-child(4) {
      max-width: 100px;
      min-width: 100px;
      padding-right: 0;
    }
    
    @media screen and (max-width: 850px) {
      &:nth-child(n) {
        padding: 0;
        min-width: 50%;
        max-width: 50%;
        margin-bottom: 10px;
      }
    }
  }
}