.btn {
  display: block;
  min-width: 100px;
  margin: 0;
  width: 100%;
  padding: 5px 10px;
  appearance: none;
  caret-color: transparent;
  background-color: #e2e2e2;
  border: 1px solid #959595;
  font-size: 1rem;
  outline: transparent;
  cursor: pointer;

  &_filter {
    max-width: 184px;
    padding: 12px 20px 12px 12px;
    letter-spacing: 3px;
  }

  &_modal {
    padding: 16px 47px 16px 38px;
    text-transform: uppercase;
    max-width: 184px;
    letter-spacing: 3px;
  }
}