.input {
  border: 1px solid rgb(172, 172, 172);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 37px;
  outline: transparent;
  padding: 5px;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}