.modal {
  display: none;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 481px;
  transform: translate(-50%,-50%);
  padding: 16px 16px 11px 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.21);

  &_active {
    display: flex;
  }

  &__left {
    font-size: 2.6rem;
    letter-spacing: 3px;
    max-width: 175px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__player-status {
    text-align: right;
  }

  &__player-rating {
    display: flex;
    justify-content: flex-end;
  }

  &__player-status,
  &__player-rating {
    margin-bottom: 20px;
  }

  &__player-start {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}