.checkbox-wrapper {
  display: flex;
}

.checkbox {
  display: none;
}

.checkbox:checked + .checkbox-label {
  .checked-arrow();
  background-image: url(@return);
}

.checkbox-label {
  .size(25px);
  background-color: #e1e1e1;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 2px 4px;
  background-size: 20px;
  cursor: pointer;
}