html,
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.15;
}

.container {
  margin: 55px auto 0;
  max-width: 800px;

  @media screen and (max-width: 850px) {
   padding: 0 5px;
  }
}

.row {
  display: flex;

  &_filter {
    margin-bottom: 30px;

    @media screen and (max-width: 850px) {
      flex-direction: column;
    }
  }
}

.field {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }

  &__label {
    margin-right: 10px; 
  }

  &_player-name {
    max-width: 278px;
  }

  &_player-online {
    width: auto;
    margin-right: 45px;
  }
}