.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-online {
  .size(21px);
  background-color: #58900c;
  border-radius: 50%;

  &_disable {
    background-color: #989898;
  }
}

.icon-star {
  .size(21px);
  .bg-star();
  background-image: url(@return);
  background-size: contain;

  &_big {
    .size(28px);
  }
}

.icon-filter-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #000 transparent;
  cursor: pointer;

  &_active {
    border-color: transparent transparent #fff transparent;
  }

  &_bottom {
    transform: rotate(180deg);
  }
}
