.dialog {
  display: none;
  position: absolute;
  top: 0;
  padding: 8px 15px 8px 10px;
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
  box-shadow: 0px 10px 15.68px 0.32px rgba(0, 0, 0, 0.21);
  list-style: none;
  text-align: center;

  &_active {
    display: block;
  }

  &_players {
    width: 243px;
  }

  &__item {
    padding: 16px 0;
    border-bottom: 2px solid #d7d7d7;
    cursor: pointer;

    &:last-child {
      border: 0;
    }
  }
}